<%- include('header'); -%>


<form action="/fourq" method="post">
    <div class="input-field">
      <input type="text" id="name" required name="answer"/>
      <label for="">Whats <%=firstnum  %>&#8339; - <%= subsnum %>&#8339;</label>
      
    </div>
    
    
  </form>

<%- include('footer'); -%>