<%- include('header'); -%>


<form action="/secondq" method="post">
    <div class="input-field">
      <input type="text" id="name" required name="answer"/>
      <label for="name">Whats <%=firstnum  %> - <%= subsnum %></label>
      
    </div>
    
    
  </form>
<%- include('footer'); -%>